* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  height: 900px;
}
a {
  text-decoration: none;
  color: inherit;
}
.wrapper {
  background-color: #6e6e6e;
  height: 100%;
  width: 350px;
}
.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 120px;
  margin-bottom: 40px;
}

.header {
  position: fixed;
  height: 130px;
  width: 350px;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  align-items: center;
  background-color: #ae9373;
}
.header h1 {
  font-size: 25px;
  font-weight: 700;
}
.search {
  position: absolute;
  top: 105px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 300px;
  border-radius: 30px;
  box-shadow: 0px 4px 5px #4e4e53;
}
.search input {
  border: none;
  border-radius: 40px;
  outline: none;
  width: 100%;
  height: 50px;
  font-size: 15px;
  padding-left: 40px;
}
.search input::placeholder {
  opacity: 0.4;
}
.search i {
  position: absolute;
  padding-right: 30px;
  opacity: 0.4;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 20px;
}

.section__title {
  font-size: 20px;
  font-weight: 800;
  margin-top: 25px;
  margin-bottom: 20px;
}
.books-day__content {
  display: flex;
}
.books-day__content-img {
  width: 110px;
  height: 180px;
  border-radius: 20px;
}
.books-day__content-info {
  width: 170px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h4 {
  font-size: 20px;
  font-weight: 550;
}
.books-day__content-info h5 {
  font-size: 13px;
  font-weight: 600;
  color: rgb(191, 190, 190);
}

.stars {
  display: flex;
  justify-content: flex-start;
  color: #ffbd11;
  zoom: 0.8;
}

.stars i,
.li_stars i {
  margin-right: 10px;
}

.stars i:last-child,
.li_stars i:last-child {
  color: rgb(191, 190, 190);
}
.books-day__content-info-genre,
.books-day__content-info-shop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.books-day__content-info-genre_n,
.books-day__content-info-genre_b {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 80px;
  background-color: #d4d1ce;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  color: #4e4e53;
}
.books-day__content-info-shop i {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffbd11;
  display: flex;
  font-size: 13px;
  align-items: center;
  justify-content: center;
}
.books-day__content-info-shoping {
  background-color: #333333;
  height: 35px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eaeaea;
  border-radius: 10px;
  font-size: 12px;
}
.books-top {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.books-top__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

.books-top__list__cover img {
  width: 75px;
  height: 120px;
  border-radius: 10px;
  margin-right: 10px;
}

.li_stars {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffbd11;
  zoom: 0.5;
}

.author-pop {
  display: flex;
  flex-direction: column;
}
.author-pop__img {
  width: 130px;
  height: 170px;
  border-radius: 20px;
}
.author-pop__content {
  display: flex;
  flex-direction: row;
}
.author-pop__info {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 150px;
}

.author-pop__info p {
  margin-top: 20px;
  color: #d4d1ce;
  line-height: 1.4;
  font-size: 13px;
}
